*{
	margin: 0px;
	padding: 0px;
}
html{
	scroll-behavior:smooth;
}
body{
	background-color: #E6E6FA;
	font-family: 'ZCOOL XiaoWei', serif;

}
ul{
overflow: visible;
font-weight: bold;
}
.navbar{
	
	height: 70px;
}
#menu a{
	position: relative;	
}

#menu a:before{
	content: "";
	position: absolute;
	left: 1px;
	top: 80%;
	width:0;
	height: 3px;
	background-color: black;
	transition: all 0.5s linear;

}
#menu a:after{
	content: "";
	position: absolute;
	right: 1px;
	top: 20%;
	bottom: 80%;
	width:0;
	height: 3px;
	background-color: black;
	transition: all 0.5s linear;

}

#menu a:hover::before{
	width: 100%;
	background-color: cornflowerblue;
}
#menu a:hover::after{
	width: 100%;
	background-color: cornflowerblue;
}



.imgText{
	color: #fff!important;
	
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
}


.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: white;
}

@media (max-width: 990px) {
  .collapse.navbar-collapse {
    background: lightgray;
    
  }
  @media (max-width: 990px) {
 .navbar ul.navbar-nav li.nav-item a.nav-link {
  color: black;

}
 @media (max-width: 768px) {
 .navbar ul.navbar-nav li.nav-item  {
  float: right;
  
}
 @media (min-width: 360px) {
 .navbar.nav{
 	float: right;
}   
  }


